*{
    margin:0;
    padding:0;
    backface-visibility:hidden;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

/*Contenedor*/
.wrapper{
    position:relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/menu/Fondo.png");
    background-size: cover;
}

.ramas{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url("../img/menu/Arboles.png");
    z-index: 10000;
    pointer-events: none;
}

/*Circulo Principal*/
.circle{
    position:relative;
    margin-top:30px;
    margin-bottom:20px;
    margin-left:25px;
    width:700px;
    height:700px;
    animation: rotar 14s linear infinite;
}

#circleMenu {
    background: url("../img/menu/Rueda.png");
    background-size: cover;
    background-position: -420px;
}

@keyframes rotar {
    100%{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

@font-face {
    font-family: "fuenteli";
    src: url(../Fuentes/Seagram.ttf);
}

/*Mini Circulos*/
.circle li{
    position:absolute;
    width:200px;
    height:50px;
    border-radius:50%;
    list-style:none;
    text-align:center;
    font-family: "fuenteli";
    /*animation: rotar 8s linear  infinite;*/
}

.circle .letra{
    font-size:42px;
    color: #000000;
}

.circle #li-1{
    top:50%;
    left:50%;
    margin-left: -100px;
    margin-top: -260px;
}
.circle #li-2{
    top:50%;
    left:50%;
    margin-left: 145px;
    margin-top: -25px;
    transform:rotate(90deg);
}
.circle #li-3{
    top:50%;
    left:50%;
    margin-left: -100px;
    margin-top: 230px;
    transform:rotate(180deg);   
}
.circle #li-4{
    top:50%;
    left:50%;
    margin-left: -340px;
    margin-top: -25px;
    transform:rotate(270deg);
}

.circle a {
    color:#e0dcdc;
}

/*Circulo Interior*/
.wrapper:before{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -185px;
    margin-left: -176px;
    z-index:10;
    width:380px;
    height:380px;
    border-radius:50%;
    animation: rotar 14s linear reverse infinite;
}