* {
    padding: 0;
    margin: 0;
}

.P-contenedor {
    background-image: url(../img/mapa.jpg);
    background-size:cover;
    background-position:center center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/*----------------------Jugadores-----------------------*/

.P-contenedor .jugadores {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

.P-contenedor .jugador {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.P-contenedor .contenedor-imgJugador {
    width: 50px;
    display: flex;
    justify-content: center;
}

.P-contenedor .jugador img {
    margin-right: 6px;
}

.P-contenedor #jugador-1 {
    font-size: 22px;
}
.P-contenedor #jugador-1 img {
    width: 40px;
    height: 40px;
}
.P-contenedor #jugador-2 {
    font-size: 20px;
}
.P-contenedor #jugador-2 img {
    width: 33px;
    height: 33px;
}
.P-contenedor #jugador-3 {
    font-size: 18px;
}
.P-contenedor #jugador-3 img {
    width: 27px;
    height: 27px;
}
.P-contenedor #jugador-4 {
    font-size: 16px;
}
.P-contenedor #jugador-4 img {
    width: 23px;
    height: 23px;
}

/*----------------------Botones centrales superiores-----------------------*/

.contenidoCentralSuperior {
    position: absolute;
    top: 0;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}

.contenidoCentralSuperior h5 {
    background-color: rgb(191, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 4px solid black;
    margin: 6px auto 2px auto;
    font-size: 18px;
}

.contenidoCentralSuperior h6 {
    font-size: 20px;
    text-align: center;
    color: white;
}

/*-------------------------------Ajustes---------------------------------*/

.ajustes {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.ajustes img {
    height: 36px;
    width: 36px;
}

/*-------------------------------Caja texto---------------------------------*/

.caja-texto {
    position: absolute;
    top: 50%;
    left: 50px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.250);
    padding: 12px;
    border-radius:4px;
    color: rgba(0, 0, 0, 0.8)
}