*{
    font-family: 'Aboreto', cursive;
}

#cargaPartida{
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    transition: all 2s ease-in;
}

#cargaPartida input {
    font-size: 92px;
    padding: 24px 54px;
    border-radius: 32px;
    background-color: rgb(35, 104, 165);
    cursor: pointer;
}

/*------Mensaje de Aviso------*/

.partida .partida-mensajeAviso {
    position: absolute;
    width: 100vw;
    height: 0px;
    text-align: center;
    margin-top: 24px;
    color: rgb(216, 215, 215);
    text-shadow: 2px 2px 3px black;
    transition: all 1s ease;
}

.partida .partida-mensajeAviso h2 {
    font-size: 38px;
}

.partida .partida-mensajeAviso p {
    margin-top: 8px;
    font-size: 18px;
}

.partida #nombreJugadorTurno {
    color: rgb(5, 43, 77);
    text-shadow: 1px 1px 3px rgb(171, 168, 218);
}

/*------Modales ataque defensa------*/

.partida .modalAtqdef {
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 4px;
    transition: all 0.8s ease;
    opacity: 0;
    visibility: hidden;
    z-index:1;
}
/*
#modalDefender {
    background-color: rgba(0, 255, 234, 0.5);
    top: 30%;
    left: 70%;
}

#modalAtacar {
    background-color: rgba(255, 238, 0, 0.5);
    top: 30%;
    left: 30%;
}*/

.partida .modalAtqdef .modalAtqdef-header{
    display: flex;
    padding: 10px;
}

.partida .modalAtqdef .modalAtqdef-header h5{
    text-align: center;
    width: 100%;
    margin: 0 30px;
    font-size: 20px;
    background-color: aliceblue;
}

.partida .modalAtqdef .modalAtqdef-header label{
    font-size: 20px;
    cursor: pointer;
}

.partida .modalAtqdef .modalAtqdef-contenido{
    text-align: center;
}

.partida .modalAtqdef .modalAtqdef-contenido p{
    margin: 20px;
    background-color: aliceblue;
    padding: 12px;
    font-size: 16px;
}
.partida .modalAtqdef input{
    border: none;
    padding: 8px 28px;
    font-size: 18px;
    color: white;
}

/*
#btnConfirmarDefensa {
    background-color: rgb(44, 170, 13);
}

#btnConfirmarAtaque {
    background-color: rgb(170, 13, 13);
}

/*Modales Preguntas*/

.modalPreguntas {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -200px;
    width: 700px;
    height: 400px;
    border-radius: 12px;
    transition: all 0.8s ease;
    background-image: url("../img/preguntas.png");
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    z-index:2;
}

.modalPreguntas .modalPreguntas-header {
    text-align: center;
    padding: 24px;
}

.modalPreguntas .modalPreguntas-header h5{
    font-size: 28px;
}

.modalPreguntas .modalPreguntas-header h6{
    font-size: 38px;
}

.modalPreguntas-respuestas {
    text-align: center;
}

.modalPreguntas-respuestas input {
    width: 50%;
    padding: 12px 0;
    margin-bottom: 12px;
    font-size: 16px;
    border: none;
    background-color: rgb(64, 18, 138);
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

/*Modales Soldados*/

#modalSoldados {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.370);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

#soldadosAgregados {
    font-size: 128px;
}