/*------Mensaje de Aviso------*/

.partida .partida-mensajeAviso {
    position: absolute;
    width: 100vw;
    text-align: center;
    margin-top: 24px;
    color: rgb(216, 215, 215);
    text-shadow: 2px 2px 3px black;
}

.partida .partida-mensajeAviso h2 {
    font-size: 38px;
}

.partida .partida-mensajeAviso p {
    margin-top: 8px;
    font-size: 18px;
}

.partida #nombreJugadorTurno {
    color: rgb(5, 43, 77);
    text-shadow: 1px 1px 3px rgb(171, 168, 218);
}


/*------Mensaje de Aviso------*/

.partida .siguiente-turno {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.partida .siguiente-turno input {
    margin-bottom: 20px;
    font-size: 24px;
}
