*{
    margin:0;
    padding:0;
    -webkit-backface-visibility:hidden;
}

/*Contenedor*/
.wrapper{
    position:relative;
}

/*Circulo Principal*/
.circle{
    position:relative;
    margin-top:30px;
    margin-bottom:20px;
    margin-left:25px;
    width:300px;
    height:300px;
    border-radius:50%;
    background:#093b62;
    box-shadow:inset 0px 0px 30px rgba(0,0,0,0.3);
    animation: rotar 8s linear infinite;
}

@keyframes rotar {
    100%{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

/*Mini Circulos*/
.circle li{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    background:white;
    list-style:none;
    text-align:center;
    font:20px/50px Helvetica,Arial,sans-serif;
    animation: rotar 4s linear reverse infinite;
}

.circle #li-1{
    top:15px;
    left:125px;
}
.circle #li-2{
    top:125px;
    left:235px;
}
.circle #li-3{
    top:235px;
    left:125px;
}
.circle #li-4{
    top:125px;
    left:15px;
}

/*Circulo Interior*/
.wrapper:before{
    content:"DS";
    text-align:center;
    font:70px/135px Georgia,Times,serif;
    color:#efefef;
    position:absolute;
    top:85px;
    left:110px;
    z-index:10;
    width:130px;
    height:130px;
    border-radius:50%;
    background:#fff;
    -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
    box-shadow:3px 3px 10px rgba(0,0,0,0.3);
}