* {
    padding: 0;
    margin: 0;
    backface-visibility:hidden;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(../img/fondo.jpg);
}

.titulo-conquizt {
    padding: 16vh;
    text-align: center;
    font-size: 128px;
    font-weight: 600;
}

.contenedor{
    height:100vw;
    background-image: url(../img/cartaSinSello.jpg);
    background-size:contain;
    background-position: center top;
}

.circulo-central {
   position: absolute;
   top:50%;
   left:50%;
   margin-left: -150px;
   margin-top: -50px;
}

/*----------------------------Busqueda Jugadores-----------------------*/

.jugadorBusqueda{
    font:26px Helvetica,Arial,sans-serif;
    color: #e0dcdc;
    cursor:pointer;
}

.circle #li-busqueda-1{
    top:50%;
    left:50%;
    margin-left: -100px;
    margin-top: -230px;
}
.circle #li-busqueda-2{
    top:50%;
    left:50%;
    margin-left: 105px;
    margin-top: -25px;
    transform:rotate(90deg);
}
.circle #li-busqueda-3{
    top:50%;
    left:50%;
    margin-left: -100px;
    margin-top: 180px;
    transform:rotate(180deg);   
}
.circle #li-busqueda-4{
    top:50%;
    left:50%;
    margin-left: -305px;
    margin-top: -25px;
    transform:rotate(270deg);
}

.wrapper-busqueda:before {
    content:"Buscando Partida...";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(233, 230, 230);
    animation: none;
    color:#363636;
    font:34px Helvetica,Arial,sans-serif;
}

/*----------------------------Configuracion Partida-----------------------*/

.wrapper-config{
    position:relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.seleccion{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

/*--Rueda facciones--*/

.rueda-facciones{
    width:600px;
    height:600px;
    animation: rotar 24s reverse linear infinite;
}

.faccion-li {
    display: inline-block;
    font:26px Helvetica,Arial,sans-serif;
    color: #e0dcdc;
    background-color: #141414;
    height: 44px!important;
    width: 44px!important;
}

.rueda-facciones #li-faccion-1{
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -250px;
    transform:rotate(-30deg);
}
.rueda-facciones #li-faccion-2{
    top:50%;
    left:50%;
    margin-left: 130px;
    margin-top: -250px;
    transform:rotate(30deg);
}
.rueda-facciones #li-faccion-3{
    top:50%;
    left:50%;
    margin-left: 252px;
    margin-top: -25px;
    transform:rotate(90deg);   
}
.rueda-facciones #li-faccion-4{
    top:50%;
    left:50%;
    margin-left: -297px;
    margin-top: -25px;
    transform:rotate(270deg);
}
.rueda-facciones #li-faccion-5{
    top:50%;
    left:50%;
    margin-left: -197px;
    margin-top: 190px;
    transform:rotate(210deg);
}
.rueda-facciones #li-faccion-6{
    top:50%;
    left:50%;
    margin-left: 152px;
    margin-top: 190px;
    transform:rotate(150deg);
}

/*--Circulo Chico jugadores de la partida--*/

.circulo-jugadores{
    animation: rotar 14s linear infinite;
    margin-top:50px;
    margin-left:50px;
}

/*--Circulo Chico Conf del jugador--*/

.conf-jugador {
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left:50%;
    background-color: #141414;
    width: 360px;
    height: 360px;
    margin-left: -168px;
    margin-top: -175px;
    border-radius: 50%;
    animation: none /*-----------*/
}

.conf-jugador #nombreJugador {
    font:28px Helvetica,Arial,sans-serif;
    color:white;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(185, 181, 181);
    text-align: center;
}

.botonesAgregado {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 160px;
    font:24px Helvetica,Arial,sans-serif;
}

.botonAgregar {
    background-color: #e4e4e4;
    padding: 12px 20px;
}

.conf-jugador #btnGuardarCJ {
    padding: 8px 18px;
    margin-top: 20px;
    background-color: rgb(38, 14, 146);
    font-size: 18px;
    border: none;
    color:#ffffff;
    cursor: pointer;
}

/*--Tarjeta descripcion de faccion--*/

.detalles-faccion{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detallesCard{
    background-color: #c4c2c2;
    margin: 0 20%;
    padding: 20px;
    text-align: center;
    border-radius: 14px;
}

.detallesCard h4{
    font:26px Helvetica,Arial,sans-serif;
    padding: 16px;
    color: #141414;
}

.detallesCard p{
    text-align: start;
    padding: 20px;
} 