* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.titulo-conquizt {
    padding: 16vh;
    text-align: center;
    font-size: 128px;
    font-weight: 600;
}

.contenedor{
    background-image: url(../img/fondo.png);
    height:100vw;
}

.circulo-central {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 200px;
    background-color: grey;
}


/*--------------------------Menu---------------------------*/

.titulo-conquizt-prueba {
    padding: 3vh 0;
    font-size: 100px;
    font-weight: 50;
    /*text-decoration: underline;*/
    font-family: 'Junge', serif;
}

/*Titulo de la tarjeta*/
.titulo-descripcion-prueba{
    color: white;
    padding: 12px 0;
    font-weight: 100 ;
    font-size: 52px;
}

/* tarjeta*/
.tarjeta-descripcion-prueba{
    border-radius: 10px;
    margin: auto;
    width: 50%;
}

/*imagen tarjeta*/
.tarjeta-descripcion-prueba img{
    border-radius: 5px;
    height: 280px;
    width: 380px;
}

/*Descripcion en la tarjeta*/
.tarjeta-descripcion-prueba p{
    padding: 15px 40px;
    font-weight: 100;
    color: white;
    font-size: 17px;
}

.prueba-contenedor {
    display: flex;
}

.descripcion-menu {
    text-align: center;
    width: 60%;
}

.menu {
    width: 40%;
}


@keyframes rotar {
    0%{transform: rotateZ(0deg);}
    50%{transform: rotateZ(120deg);}
    100%{transform: rotateZ(240deg);}
}


.rueda-menu {
    height: 1200px;
    width: 1200px;
    border-radius: 600px;
    background-color: rgba(0, 0, 0, 0.699);
    position: absolute;
    right: -500px;
    top: -200px;
    /*background: linear-gradient(red, yellow);*/
    animation-name: rotar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.items-menu a {
    font-size: 52px;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 150px;
}

.item-menu-1 {
    top:200px;
    transform: rotateZ(15deg);
}

.item-menu-2 {
    top: 350px;
}

.item-menu-3 {
    top:500px;
    transform: rotateZ(-15deg);
}
