:root{
    --color:#51ff0055;
    --fondo_terri: #ffffff01;
}

body{
    background: rgb(34, 86, 227);
}

.mapadiv {
    width: 85%;
    margin: auto;
}

.mapadiv path{
   
    stroke-width: 2px;
}


.mapadiv{
   fill: var(--fondo_terri);
}

/* CONJUNTO DE TERRITORIOS */

#concat1_2:hover {
    fill: var(--color);
}

#concat1:hover {
    fill: var(--color);
}


#concat2:hover {
    fill: var(--color);
}

#concat3:hover {
    fill: var(--color);
}

#concat4:hover {
    fill: var(--color);
}

#concat5:hover {
    fill: var(--color);
}

#concat6:hover {
    fill: var(--color);
}

/* TERRITORIOS */

#Vector:hover{
    fill: var(--color);
}

#Vector_1:hover{
    fill: var(--color);
}

#Vector_2:hover{
    fill: var(--color);
}

#Vector_3:hover{
    fill: var(--color);
}
#Vector_4:hover{
    fill: var(--color);
}
#Vector_5:hover{
    fill: var(--color);
}
#Vector_6:hover{
    fill: var(--color);
}
#Vector_7:hover{
    fill: var(--color);
}
#Vector_8:hover{
    fill: var(--color);
}
#Vector_9:hover{
    fill: var(--color);
}
#Vector_10:hover{
    fill: var(--color);
}
#Vector_11:hover{
    fill: var(--color);
}
#Vector_12:hover{
    fill: var(--color);
}
#Vector_13:hover{
    fill: var(--color);
}
#Vector_14:hover{
    fill: var(--color);
}
#Vector_15:hover{
    fill: var(--color);
}
#Vector_16:hover{
    fill: var(--color);
}
#Vector_17:hover{
    fill: var(--color);
}
#Vector_18:hover{
    fill: var(--color);
}
#Vector_19:hover{
    fill: var(--color);
}
#Vector_20:hover{
    fill: var(--color);
}
#Vector_21:hover{
    fill: var(--color);
}
#Vector_22:hover{
    fill: var(--color);
}
#Vector_23:hover{
    fill: var(--color);
}
#Vector_24:hover{
    fill: var(--color);
}
#Vector_25:hover{
    fill: var(--color);
}
#Vector_26:hover{
   fill: var(--color);  
}